@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
    background: radial-gradient(circle, hsl(var(--card)) 0%, hsl(var(--background)) 100%);
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 262 80% 58%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
 
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
 
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 262 80% 58%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 288 15% 7%;
    --foreground: 240 67% 94%;

    --card: 285 33% 15%;
    --card-foreground: 240 67% 94%;

    --popover: 285 33% 15%;
    --popover-foreground: 240 67% 94%;

    --primary: 262 80% 58%;
    --primary-foreground: 0 0% 98%;

    --secondary: 285 33% 25%;
    --secondary-foreground: 240 67% 94%;

    --muted: 285 33% 15%;
    --muted-foreground: 240 10% 60%;

    --accent: 285 33% 25%;
    --accent-foreground: 240 67% 94%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 285 33% 20%;
    --input: 285 33% 20%;
    --ring: 262 80% 68%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
}
